@import "./variables";

@mixin btn() {
  text-decoration: none;
  min-width: 60px;
  height: 25px;
  border: 2px solid $primaryColor;
  border-radius: 25px;
  font-weight: 500;
  padding: 0.8rem 2rem;
  color: $primaryColor;
  transition: all .5s ease;
  &:hover {
    background-color: $primaryColor;
    color: white;
  }
}

@mixin textDecoration() {
  text-decoration: none;
  color: $primaryColor;
}

@mixin inputDecoration() {
  padding: 13px 15px;
  border: 1px solid $inputColor;
  border-radius: 5px;
  outline: none;
  font-size: 16px;
  background-color: $inputColor;
  color: $textColor;
}
