.textDecoration {
    text-decoration: none;
    color: #20c997;
}

.buttonLink {
    text-decoration: none;
    width: 60px;
    height: 25px;
    border: 2px solid #20c997;
    border-radius: 25px;
    font-weight: 500;
    padding: 0.8rem 2rem;
    transition: all .5s ease;
    color: #20c997;
}

.buttonLink:hover {
    background-color: #20c997;
    color: white;
}