.titleContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.titleContainer h2 {
    margin: 0 auto;
    padding: 10px;
    opacity: 1;
    position: absolute;
    font-size: calc(1.95rem + 6.4vw);
    color: #282d31;
}

.titleContainer p {
    z-index: 1;
    color: white;
    font-size: 2.25rem;
    margin: 50px;
    line-height: 1.3;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titleContainer span {
    width: 80px;
    border: 2px solid #20c997;
}