@import 'src/common/style/sass/variables';
@import 'src/common/style/sass/mixins';

.wrapper {
  position: relative;
  min-height: 100vh;
  background-color: $bgSecondColor;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-left: 260px;

  .container {
    margin-right: auto;
    margin-left: auto;
    //width: 100%;
    height: 100%;

    .content {
      display: flex;
      flex-direction: column;
      align-items: center;
      color: $textColor;

      .textTop {
        margin: 0 0 auto;
        padding-bottom: 20px;
        font-size: 35px;
      }

      .textMiddle {
        margin: 0 0 auto;
        font-size: 60px;

        /*overflow: hidden;
        white-space: nowrap;
        letter-spacing: .15em;
        animation:
                typedText 3.5s steps(40, jump-start)*/
      }

      .textBottom {
        margin: 0 0 auto;
        font-size: 21px;
        padding-top: 20px;
        padding-bottom: 50px;
      }

      .buttonLink {
        @include btn()
      }

      @media (max-width: 415px) {
        .textTop {
          font-size: 30px;
        }
        .textMiddle {
          font-size: 40px;
        }
        .textBottom {
          font-size: 18px;
        }
      }
    }
  }

  .bottom {
    position: absolute;
    bottom: 0;
    padding-bottom: 50px;
    color: $textColor;
    cursor: pointer;
    transition: color 0.5s;

    &:hover {
      color: $primaryColor;
    }

    .bottomAnimate {
      animation-name: bounce;
      animation-duration: 2s;
      animation-iteration-count: infinite;
    }
  }

  @media (max-width: 1000px) {
    transition: padding-left 1s;
    padding-left: 0;
  }
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

@keyframes typedText {
  from {
    width: 0
  }
  to {
    width: 100%
  }
}

@keyframes blink-caret {
  from, to {
    border-color: transparent
  }
  50% {
    border-color: orange
  }
}


