.wrapper {
    position: relative;
    min-height: 100vh;
    background-color: #353a40;
    overflow: hidden;
    display: flex;
    justify-content: center;
    padding-left: 260px;
}

@media (max-width: 1000px) {
    .wrapper {
        transition: padding-left 1s;
        padding-left: 0;
    }
    .content {
        flex-direction: column;
    }
    .container {
        margin: 20px!important;
    }
}

.container {
    margin: 50px;
    width: 100%;
}

.contentWrapper {
    margin-left: auto!important;
    margin-right: auto!important;
    flex: 0 0 auto;
    width: 91.66666667%;
}

.content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    box-sizing: border-box;
}