.wrapper {
    position: relative;
    /*min-height: 100vh;*/
    background-color: #212429;
    overflow: hidden;
    display: flex;
    justify-content: center;
    padding-left: 260px;
}

@media (max-width: 1000px) {
    .wrapper {
        transition: padding-left 1s;
        padding-left: 0;
    }
    .content {
        flex-direction: column;
    }
}

.container {
    margin: 50px;
    width: 100%;
}

.content {
    display: flex;
    align-items: flex-start;
    text-align: left;
    gap: 50px;
    color: white;
}


.information {

}
.information p {
    color: #888c8f;
}

.shortInformation {
    width: 100%;
    font-size: 18px;
    text-align: left;
}
.shortInformation ul {
    padding-left: 0;
    list-style: none;
}
.shortInformation ul li {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid gray;
}
.shortInformation ul li:last-child {
    border-bottom: none;
}
.shortInformation a {

}